.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  grid-column-gap: 20px;
  padding: 100px 80px;
}
.innerFooter {
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
}
.content {
  grid-area: 1 / 1 / 2 / 8;
}

.aside {
  grid-area: 1 / 9 / 2 / 13;
}

.chipList {
  display: flex;
  flex-flow: row wrap;
}

.chip {
  margin-right: 10px;
}

.chipLabel {
  position: relative;
}
.customCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
}
.customLabel {
  display: block;
  padding: 10px;
  border: 1px solid var(--white);
}

.customCheckbox:checked ~ .customLabel {
  background-color: var(--yellow);
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  width: 100%;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
}

.sectionHeader h2 {
  text-transform: uppercase;
  font-size: 3.75rem;
}

.footer h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.footer .content .tabs {
  display: none;
}

.footer .aside .tabs {
  padding-bottom: 100px;
}

.actList {
  display: flex;
  align-items: center;
}

.actList .active rect {
  fill: var(--yellow);
}

.innerFooter nav ul{
  width: 100%;
}
.innerFooter nav:last-of-type li {
  flex-basis: 15%;
  padding-right: 15px;
}

@media (max-width: 1023.98px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }
  .innerFooter {
    padding: 40px;
  }
  .content {
    grid-area: 1 / 1 / 2 / 3;
  }

  .aside {
    grid-area: 2 / 1 / 3 / 3;
  }
  .aside .tabs {
    display: none;
  }
  .footer .content .tabs {
    display: block;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 20px;
  }
}
